#  vim:ts=2:sts=2:sw=2:et
#
#  Author: Hari Sekhon
#  Date: 2015-05-31 19:20:44 +0100 (Sun, 31 May 2015)
#
#  https://github.com/harisekhon/lib-java
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback
#  to help improve or steer this or other code I publish
#
#  http://www.linkedin.com/in/harisekhon
#

language: java
# doesn't provide oraclejdk6 any more because it's EOL as of Nov 2012
matrix:
  # SonarQube plugin version 2.2 is now built with Java 8, doesn't support Java 7
  #- oraclejdk7
  include:
  # not available any more on Travis CI
  #- jdk: oraclejdk8
  # maven repo access broken in Travis CI
  #- jdk: oraclejdk9
  - jdk: openjdk9
    os: linux
  - jdk: openjdk11
    os: linux
  # Java 8 not available on Mac OS X
  #- jdk: openjdk9
  #  os: osx
  # gets buffer overflows for both Java Surefire and SBT
  #- openjdk7
  # not supported by either mvnw or gradlew
  #- openjdk6

sudo: required

dist: bionic

notifications:
  email: false

branches:
  only:
    - master

# avoid package checksum mismatches when installing packages
before_install:
  - sudo rm -f "${TRAVIS_ROOT}/etc/apt/apt.conf.d/99-travis-apt-proxy"
  - sudo rm -rf "${TRAVIS_ROOT}/var/lib/apt/lists/"*

install:
  #- make random-build
  - travis_retry make all

after_success:
  # JaCoCo gives error, skip for now and just use Cobertura:
  # [WARNING] Classes in bundle 'Utils' do no match with execution data. For report
  # generation the same class files must be used as at runtime.
  # [WARNING] Execution data for class HariSekhon/Utils does not match.
  #- mvn clean cobertura:cobertura jacoco:report coveralls:report
  - mvn clean cobertura:cobertura coveralls:report
